.user-movie-list {
  min-height: 100vh;
  background: url('../../assets/images/film.jpg') no-repeat center center/cover;
}

.user-movie-list h2 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
}

.overlay img {
  background: red;
  height: 15px;
  width: 15px;
}

.overlay-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
