* {
  /* border: 1px solid #000; */
}

.movieDetails {
  min-height: 100vh;
  margin: 1rem;
}

.movieTitle {
  text-align: center;
  padding: 10px;
}

.movieDetailsBody {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.movieDetailsCard,
.movieDetailsOther {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  width: 50%;
}

.movieDetailsOther .streamAvailability {
  text-align: center;
  font-weight: bold;
}

.streaming {
  display: flex;
  flex-direction: column;
}

.streaming > h6 {
  text-align: center;
  padding: 5px;
}

.streamingOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto 10px;
}

.streamingIcons {
  border-radius: 50%;
  margin: 2px;
}

.streamingIcons:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.castAndCrew {
  margin: 20px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.castHeader,
.actors-header {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.actors {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
  padding: 5px;
}

.actor-map {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.actor-map > h6 {
  font-weight: 800;
}
.actorHeadShot {
  height: 80px;
  width: 55px;
  border-radius: 50%;
  border: 3px solid #000;
}

.similarHeader {
  text-align: center;
}

.similar-movies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
}
