.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/curtains.jpg') no-repeat center
    center/cover;
  min-height: 100vh;
}

.add-movie-btn {
  padding: 5px;
  /* margin: 0.8rem; */
  border-radius: 10px;
  border: none;
  background: lightblue;
}

.add-movie-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .movie-details-card {
    width: 16rem !important;
  }

  .card-img-top {
    height: 350px !important;
    width: 15.5rem !important;
  }
  .card-body {
    font-size: 12px;
  }
}
