.form {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: 65%;
  max-width: 500px;
}

.register-form,
.update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  padding: 2rem;
  height: 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
}

.register-form input,
.update-form input {
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 10px;
}

.form-check {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form-check-label {
  font-weight: bold;
}

.login-link {
  margin: 0.5rem;
}

.register-btn {
  padding: 8px;
  background: lightcyan;
  border-radius: 10px;
  width: 5.5rem;
}

.register-btn:hover {
  opacity: 0.8;
}
