.user-movie-list h2 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.overlay img {
  background: red;
  height: 15px;
  width: 15px;
}

.remove-movie {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 35px;
}
.remove-movie > img {
  height: 30px;
  width: 30px;
  background: #ff0800;
  border-radius: 50%;
  border: 1px solid #ff0800;
  cursor: pointer;
}

.overlay-text {
  color: #fff;
}

.back-btn {
  padding: 2rem;
}

.movie-back-btn {
  background: #aeaeff;
  color: #fff;
  padding: 6px;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
}
.movie-back-btn:hover {
  opacity: 0.7;
}
