@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.not-found {
  height: 100vh;
  background: url('../../assets/images/red-blue-pill.jpeg') no-repeat center
    center/cover;
}

.not-found-header {
  text-align: center;
  padding: 2rem;
  color: #fff;
  font-family: 'Syne Mono', monospace;
  font-size: 2.5rem;
}

.not-found-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 58.5vh;
}

.not-found-btn {
  padding: 28px;
  width: 200px;
}

.not-found-homepage .not-found-btn {
  background: #1d74bc;
  color: #fff;
  border-radius: 80px;
  border: 3px solid #000;
}

.not-found-movies .not-found-btn {
  background: #c82d2d;
  color: #fff;
  border-radius: 80px;
  border: 3px solid #000;
}

.not-found-btn:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 250px) {
  .not-found {
    background: url('../../assets/images/red-blue-pill.jpeg') center/cover;
  }
  .not-found-header {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .not-found-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px;
    height: 55vh;
  }

  .not-found-btn {
    padding: 10px;
    width: 100px;
  }
}
@media screen and (min-width: 750px) {
  .not-found {
    background: url('../../assets/images/red-blue-pill.jpeg') center/cover;
  }
  .not-found-header {
    padding: 1.5rem;
    font-size: 1.8rem;
  }

  .not-found-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px;
    height: 59.5vh;
  }

  .not-found-btn {
    padding: 21px;
    width: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .not-found {
    background: url('../../assets/images/red-blue-pill.jpeg') center/cover;
  }
  .not-found-header {
    padding: 1.5rem;
    font-size: 1.8rem;
  }

  .not-found-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px;
    height: 60vh;
  }

  .not-found-btn {
    padding: 25px;
    width: 300px;
    margin: 0 100px;
  }
}

@media screen and (min-width: 1300px) {
  .not-found {
    background: url('../../assets/images/red-blue-pill.jpeg') center/cover;
  }
  .not-found-header {
    padding: 1.5rem;
    font-size: 1.8rem;
  }

  .not-found-links {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 10px;
    height: 61vh;
  }

  .not-found-btn {
    padding: 30px;
    width: 200px;
  }
}

@media screen and (min-width: 1600px) {
  .not-found {
    background: url('../../assets/images/red-blue-pill.jpeg') center/cover;
  }
  .not-found-header {
    padding: 1.5rem;
    font-size: 1.8rem;
  }

  .not-found-links {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 15px;
    height: 62.5vh;
  }

  .not-found-btn {
    padding: 30px;
    width: 200px;
  }
}
