@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navbar {
  color: white;
}

.Nav-header img {
  margin: 0 15px 0 0 !important;
}

.navbar-brand {
  font-size: 32px !important;
  font-family: 'Space Mono', 'Times New Roman', Times, serif;
}

.Nav-header {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.navbar-header {
  font-family: 'Permanent Marker', cursive !important;
}

.Nav-header:hover {
  border-bottom: 2px solid #2d839a;
}
.navbar-nav {
  background: #212529;
  align-items: center;
  font-family: 'Space Mono', 'Times New Roman', Times, serif;
}

.nav-link {
  display: flex;
  color: #fff !important;
}

.nav-link:hover {
  border-bottom: 2px solid #2d839a;
}

.navbar-nav p {
  margin: 0;
}

.btn {
  margin-left: 10px !important;
}

@media screen and (max-width: 1199px) {
  .navbar-nav p {
    display: none;
  }
  .btn {
    margin: 10px 0 20px !important;
  }
}

@media screen and (max-width: 600px) {
  .Nav-header {
    font-size: 20px !important;
  }
  .btn {
    margin: 10px 0 20px !important;
  }
}
